*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 100%; /*1 rem = 10px*/
}

body{
    font-size: 16px;
    width: 80vw;
    margin: 0 auto;
    font-family: "Lucida Fax", serif;
}

header{
    text-align: center;
    padding: 1rem 3rem;
    text-transform: uppercase;
}

nav{
    text-align:center;
    margin: 20px;
    color:red;
}

a, a:link, a:visited {
    text-decoration: none;
    margin: 0 20px;
    color: darkgrey;
    text-transform: uppercase;
}

a:hover {
    color:darkgreen;
}

.black{
    color:black;
    font-size:16px;
    padding:30px;
}

p{
    padding: 10px 0;
    color: darkgrey;
    font-style:normal;
    font-size: 14px;
}

main{
    margin: 20px 0;
}

section{
    width: 33.33%;
    float: left;
    padding: 0 20px;
}

aside{
    width: 33.33%;
    float: left;
    padding: 0 20px;
}


.clearfix::after {
    content:"";
    clear:both;
    display:block;
}

.navi {
    color:red;
}