*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #36454f;
}

html{
    font-size: 100%;
}

body{
    font-size: 16px;
    width: 80vw;
    margin: 0 auto;
    font-family: "Lucida Fax", serif;
    color: white;
}

header{
    text-align: center;
    padding: 1rem 3rem;
    color: #36454f;
    background-color: #fbceb1;
    border-bottom-color: white;
    border-bottom-width: 20px;
}

h1{
    background-color: #fbceb1;
}

.navigation{
    text-align:center;
    margin: 20px;
}


a, a:link, a:visited {
    text-decoration: none;
    margin: 0 20px;
    color: white;
    text-transform: uppercase;
}

a:hover {
    color:darkgrey;
}



.front{
    background-color: white;
    padding-top:80px;
    padding-bottom:80px;
}

.main-image{
    display:block;
    width: 75%;
    height:auto;
    margin: 0 auto;
    background-color: darkgrey;
    
}

.explanation{
    border-width:thick;
    background-color: darkgrey;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: right;
}

h4{
    margin: 30px 30px;
    text-align:right;
    color: #fbceb1 ;
    padding:30px;
    background-color: darkgrey;
}

/* Resume  page styles */


iframe{
    height: 600px;
    width: 100%;
    overflow: scroll;
}



/* Project page styles */

.projectimg{
    display: block;
    width:550px;
    height:400px;
    float:left;
    padding:30px;
    background-color:white;
    position: relative;
}


.projects{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 40px;
    background-color:white;
}

.projects::after {
    content: "";
    clear: both;
    display: block;
}

.projtext{
    text-align:left;
    color: #36454f;
    background-color: white;
    padding: none;
}

.proj{
    background-color:white;
    color: darkgrey;
    padding: 20px 20px;
}

button{
    background-color:#fbceb1;
    color:#36454f;
    padding: 15px 32px;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position:center;
}


.button{
    background-color: white;
}


/* Articles page styles */

#pens{
    display:block;
    width: 75%;
    height:auto;
    margin: 0 auto;
    
}

section{
    width: 33.33%;
    float: left;
    padding: 0 20px;
}

aside{
    width: 33.33%;
    float: left;
    padding: 0 20px;
}

.clearfix{
    padding: 50px;
}

.clearfix::after {
    content:"";
    clear:both;
    display:block;
}

.pens{
    background-color: #36454f;

}
