*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 100%;
}

body{
    font-size: 16px;
    width: 80vw;
    margin: 0 auto;
    font-family: "Lucida Fax", serif;
}

header{
    text-align: center;
    padding: 1rem 3rem;
}

nav{
    text-align:center;
    margin: 20px;
}


a, a:link, a:visited {
    text-decoration: none;
    margin: 0 20px;
    color: darkgrey;
    text-transform: uppercase;
}

a:hover {
    color:darkgreen;
}



main{
    margin: 30px 0;
}


h3{
    text-align:center;
    margin: 40px;
}

h4{
    margin: 30px;
    text-align:center;
}


img{
    display:block;
    width: 75%;
    height:auto;
    margin: 0 auto;
    
}